
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="/">Dashboard</a>
        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown mr-2">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-lg  font-weight-bold">
                    {% if not notifications %}
                    <i class="fas fa-bell"></i>
                    {% else %}
                    <i class="fas fa-bell">
                    </i>
                    <span class="notification" style="position: absolute; right: -8px; font-size: 11px; background: #f44336; 
                    padding: 0 5px; border-radius: 50%; border: 1px solid #fff;">{{ notifications.count }}</span>
                    {% endif %}
                  </span>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" style="max-height: 175px; overflow: auto;">
              <div class=" dropdown-header noti-title">
                <a href="{% url 'notifications' %}"><h6 class="text-overflow m-0">See All Notifications</h6></a>
              </div>
              {% if not notifications %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item justify-content-center">
                <span>No unread notifications</span>
              </a>
              {% else %}
                {% for notification in notifications %}
                <div class="dropdown-divider"></div>
                  <a href="{% url 'notification' notification.id %}" class="dropdown-item justify-content-center">
                    <span>{{ notification.message }}</span>
                  </a>
                {% endfor %}
              {% endif %}
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="{{ request.user.profile.image.url }}" style="width: 36px; height: 36px; object-fit: cover;">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">
                    {{ request.user.username }}
                  </span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <div class=" dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
              </div>
              <a href="/profile/" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
              </a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'logout' %}" class="dropdown-item">
                <i class="ni fas fa-sign-out-alt"></i>
                <span>Logout</span>
              </a>
            </div>
          </li>
          
        </ul>
      </div>
    </nav>
    <!-- End Navbar -->

