{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Create Comment {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>

    <div class="container-fluid mt--7">
        <div class="row mt-4 d-flex justify-content-center">
            <div class="col-xl-8 mb-5 mb-xl-0">
              <div class="card shadow">
                <div class="card-header border-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h3 class="mb-2">Create Comment</h3>
                      <h6 class="text-uppercase text-muted ls-1 mb-0">You will be added as the Comment Submitter</h6>
                    </div>
                  </div>
                </div>

                <hr class="mb-3 mt-0">
                
                <div class="card-body">
                    <div class="form-group">
                        <form class="d-flex flex-column justify-content-center" id="comment_form" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}

                            <div class="d-flex row justify-content-end mt-3 mr-3">
                                <div class="d-flex">
                                    <a href="{% url 'tickets' %}" class="btn btn-danger" type="button">Cancel</a>
                                    <button class="btn btn-primary" type="submit">Create Comment</button>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        
        {% include "includes/footer.html" %}
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
