{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Profile {% endblock title %}
{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <!-- Mask -->
      <!-- Header container -->
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-5">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <h3 class="mb-0">Change Password</h3>
                    </div>
                  </div>
                  
                  {% if messages %}
                  {% for message in messages%}
                  <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    {{ message | safe }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">Change User Password</h6>
                {{ form|crispy }}
                <div class="d-flex row justify-content-end mr-3">
                  <div class="d-flex">
                    <button class="btn btn-primary" type="submit">Change Password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
