{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Reset Password {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">

                {% if msg %}
                  <p>{{ msg | safe }}</p>
                {% else %}
                  <p>
                    <h2>Reset Password</h2>
                    
                  </p>
                {% endif %}

                <div class="alert alert-info mt-5" role="alert">
                    An email has been sent with instructions to reset your password.
                  </div>

              </div>
            </div>
          </div>
          <div class="row mt-3">
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
