{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <!-- Mask -->
      <!-- Header container -->
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <img src="{{ user.profile.image.url }}" class="rounded-circle" style="width: 180px; height: 180px; object-fit: cover;">
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-4">
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{ request.user.username }}
                </h3>
                <div class="h5 font-weight-300">
                  {{ request.user.email }}
                </div>
                <hr class="my-4" />
                <p>Welcome, {{ request.user.get_full_name }}, to my Bug Tracker Application. 
                  This project is an excellent tool for any company looking to manage their software. 
                  Within this project, tickets for issues can be submitted and tracked through the 
                  entire development process into completion.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <h3 class="mb-0">My account</h3>
                    </div>
                    <div class="col text-right">
                      <a href='{% url "new-password" %}' class="btn btn-primary btn-sm"><i class="fas fa-unlock-alt"></i> Reset Password</a>
                    </div>
                  </div>
                  
                  {% if messages %}
                  {% for message in messages%}
                  <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                    {{ message | safe }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="card-body">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">User information</h6>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
                <div class="d-flex row justify-content-end mr-3">
                  <div class="d-flex">
                    <button class="btn btn-primary" type="submit">Update Profile</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
