{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                  <h2 class="text-white mb-0">All Projects</h2>
                </div>
              </div>
            </div>
            <!-- Table -->
            <div class="table-responsive">
              <table class="table align-items-center table-dark">
                <!-- Table Headers -->
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">
                        Project
                    </th>
                    <th scope="col">
                        Open Tickets
                    </th>
                    <th scope="col">
                      Project Managers
                    </th>
                    <th scope="col">
                      Assigned Developers
                    </th>
                  </tr>
                </thead>

                <!-- Table Body -->
                <tbody class="list">
                  <!-- Table Item -->
                  <tr>
                    <!-- Project Name & Image -->
                    <th scope="row" class="name">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/angular.jpg">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">Project Name 1</span>
                        </div>
                      </div>
                    </th>
                    <!-- Open Tickets -->
                    <td class="open-tickets">
                      5
                    </td>
                    <!-- Project Managers -->
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                    <!-- Assigned Developers -->
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <!-- Project Name & Image -->
                    <th scope="row" class="name">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/vue.jpg">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">Project Name 2</span>
                        </div>
                      </div>
                    </th>
                    <!-- Open Tickets -->
                    <td class="open-tickets">
                      5
                    </td>
                    <!-- Project Managers -->
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                    <!-- Assigned Developers -->
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <!-- Project Name & Image -->
                    <th scope="row" class="name">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/react.jpg">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">Project Name 3</span>
                        </div>
                      </div>
                    </th>
                    <!-- Open Tickets -->
                    <td class="open-tickets">
                      5
                    </td>
                    <!-- Project Managers -->
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                    <!-- Assigned Developers -->
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <!-- Project Name & Image -->
                    <th scope="row" class="name">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/bootstrap.jpg">
                        </a>
                        <div class="media-body">
                          <span class="mb-0 text-sm">Project Name 4</span>
                        </div>
                      </div>
                    </th>
                    <!-- Open Tickets -->
                    <td class="open-tickets">
                      5
                    </td>
                    <!-- Project Managers -->
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                    <!-- Assigned Developers -->
                    <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                        <a href="#" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" 
                          src="https://demos.creative-tim.com/argon-dashboard-django/assets/img/dashboard/free/theme/team-1-800x800.jpg" class="rounded-circle">
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-xl mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">My Tickets</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Ticket Name</th>
                    <th scope="col">Project</th>
                    <th scope="col">Priority</th>
                    <th scope="col">Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      Ticket 1
                    </th>
                    <td>
                      Project Name 1
                    </td>
                    <td>
                      Critical
                    </td>
                    <td>
                      Bug
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Ticket 2
                    </th>
                    <td>
                      Project Name 2
                    </td>
                    <td>
                      Medium
                    </td>
                    <td>
                      Bug
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Ticket 3
                    </th>
                    <td>
                      Project Name 3
                    </td>
                    <td>
                      Trivial
                    </td>
                    <td>
                      Feature Request
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Ticket 4
                    </th>
                    <td>
                      Project Name 4
                    </td>
                    <td>
                      Minor
                    </td>
                    <td>
                      Process
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-xl-3 mb-4">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Ticket Priorities</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Priority</th>
                    <th scope="col">Tickets</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      Critical
                    </th>
                    <td>
                      4
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Major
                    </th>
                    <td>
                      2
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Medium
                    </th>
                    <td>
                      6
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Minor
                    </th>
                    <td>
                      3
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Trivial
                    </th>
                    <td>
                      1
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-5 mb-4">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Ticket Statuses</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Tickets</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      New
                    </th>
                    <td>
                      4
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Assigned
                    </th>
                    <td>
                      2
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Accepted
                    </th>
                    <td>
                      6
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Fixed
                    </th>
                    <td>
                      3
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Fixed (Verified)
                    </th>
                    <td>
                      1
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Won't Fix (Not Reproducible)
                    </th>
                    <td>
                      1
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Won't Fix (Intended Behavior)
                    </th>
                    <td>
                      1
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Won't Fix (Obsolete)
                    </th>
                    <td>
                      1
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Won't Fix (Infeasible)
                    </th>
                    <td>
                      1
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Duplicate
                    </th>
                    <td>
                      0
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4 mb-4">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Ticket Types</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Tickets</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      Bug
                    </th>
                    <td>
                      4
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Feature Request
                    </th>
                    <td>
                      2
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Customer Issue
                    </th>
                    <td>
                      6
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Internal Cleanup
                    </th>
                    <td>
                      3
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Process
                    </th>
                    <td>
                      1
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Vulnerability
                    </th>
                    <td>
                      2
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
