{% extends 'layouts/base.html' %}
{% load group_tags %}

{% block title %} {{ object.name }} {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>

    <div class="container-fluid mt--7">

        <div class="row">
            <div class="col-xl mb-5 mb-xl-0">
                <div class="card shadow">
                  <div class="card-header border-0">
                    <div class="row align-items-center">
                      <div class="col">
                        <h2 class="mb-0">{{ object.name }} Details</h2>
                        <h6 class="text-uppercase text-muted ls-1 mt-2">
                            <a href="/projects/">Back to My Projects</a> 
                         </h6>
                      </div>
                      <div class="col text-right">
                        {% if object.created_by == user or user|has_group:"admin" %}
                        <a href="{% url 'project-update' object.id %}" class="btn btn-sm btn-primary">Edit Project</a>
                        {% endif %}
                      </div>
                    </div>
                  </div>

                  <div class="table-responsive">
                    <table class="table align-items-center table">
                      <!-- Table Headers -->
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">
                              Project Name
                          </th>
                          <th scope="col">
                              Project Description
                          </th>
                        </tr>
                      </thead>
      
                      <!-- Table Body -->
                      <tbody class="list">
                        <!-- Table Item -->
                        <tr>
                          <!-- Project Name -->
                          <th scope="row" class="name">
                            <span class="mb-0 text-sm">{{ object.name }}</span>
                          </th>
                          <!-- Project Description -->
                          <td class="description">
                            {{ object.description }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>

        <div class="row mt-4">
            <div class="col-xl-5 mb-4">
                <div class="card shadow">
                  <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Current users on this project</h6>
                            <h3 class="mb-0">Assigned Personnel</h3>
                        </div>
                        <div class="col text-right">
                        </div>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <!-- Personnel table -->
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Username</th>
                          <th scope="col">Email</th>
                          <th scope="col">Role</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                        {% for assigned_user in object.assigned_users.all %}
                          <th scope="row">
                            {{ assigned_user.username }}
                          </th>
                          <td>
                            {{ assigned_user.email }}
                          </td>
                          <td>
                            {{ assigned_user.groups.first }}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
            </div>
            
            <div class="col-xl-7 mb-4">
                <div class="card shadow">
                  <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Tickets for this project</h6>
                            <h3 class="mb-0">Project Tickets</h3>
                        </div>
                        <div class="col text-right">
                            {% if request.user|has_group:"admin" %}
                            <a href="{% url 'project-ticket-create' project.id %}" class="btn btn-sm btn-primary">Create Ticket</a>
                            {% elif request.user|has_group:"submitter" and request.user in object.assigned_users.all %}
                            <a href="{% url 'project-ticket-create' project.id %}" class="btn btn-sm btn-primary">Create Ticket</a>
                            {% endif %}
                        </div>
                    </div>
                  </div>
                  <div class="table-responsive">
                    <!-- Tickets table -->
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                        <tr>
                          <th scope="col">Title</th>
                          <th scope="col">Submitter</th>
                          <th scope="col">Developer</th>
                          <th scope="col">Status</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for ticket in object.tickets.all %}
                        <tr>
                            <th scope="row">
                                <a href="{% url 'ticket-detail' ticket.id %}" class="text-body">{{ ticket.title }}</a>
                            </th>
                            <td>
                                {{ ticket.submitted_by }}
                            </td>
                            <td>
                                {{ ticket.assigned_to }}
                            </td>
                            <td>
                                {{ ticket.status }}
                            </td>
                            <td class="text-right">
                                <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="{% url 'ticket-detaill' ticket.id%}">More Details</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>
            </div>
        </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
