{% extends 'layouts/base.html' %}

{% block title %} New Project {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>

    <div class="container-fluid mt--7">
        <div class="row mt-4 d-flex justify-content-center">
            <div class="col-xl-8 mb-5 mb-xl-0">
              <div class="card shadow">
                <div class="card-header border-0">
                  <div class="row align-items-center">
                    <div class="col">
                      <h3 class="mb-2">New Project</h3>
                      <h6 class="text-uppercase text-muted ls-1 mb-0">You will be added as a Project Manager</h6>
                    </div>
                  </div>
                </div>

                <hr class="mb-3 mt-0">
                
                <div class="card-body">
                    <form method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="d-flex row justify-content-center">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="name" class="form-label">Project Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="My Project" required>
                                    <div class="invalid-feedback">
                                        Please enter a project name.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row justify-content-center">
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea rows='3' class="form-control" id="description" placeholder="Project Description" required></textarea>
                                    <div class="invalid-feedback">
                                        Please add a description for the project.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex row justify-content-center">
                            <div class="d-flex col-md-10 justify-content-end">
                                <a href="/projects/" class="btn btn-danger" type="button">Cancel</a>
                                <button class="btn btn-primary" type="submit">Create Project</button>
                            </div>
                        </div>
                    </form>
                </div>

                </div>
              </div>
            </div>
          </div>
        
        {% include "includes/footer.html" %}
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
