{% extends 'layouts/base.html' %}

{% block title %} Projects {% endblock title %}
{% load group_tags %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl mb-5 mb-xl-0">
          {% if request.user|has_group:"admin" or request.user|has_group:"project manager" %}
          <a type="button" href="/project/new/" class="btn btn-secondary btn-lg btn-block mb-4">Create New Project</a>
          {% endif %}
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  {% if request.user|has_group:"admin" %}
                  <h2 class="text-white mb-0">All Projects</h2>
                  <h6 class="text-uppercase text-light ls-1 mt-1">All projects in the database</h6>
                  {% else %}
                  <h2 class="text-white mb-0">All Projects</h2>
                  <h6 class="text-uppercase text-light ls-1 mt-1">All the projects you are assigned to</h6>
                  {% endif %}
                </div>
              </div>
            </div>
            <!-- Table -->
            <div class="table-responsive">
              <table class="table align-items-center table-dark">
                <!-- Table Headers -->
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">
                        Project
                    </th>
                    <th scope="col">
                        Open Tickets
                    </th>
                    <th scope="col">
                        Project Managers
                    </th>
                    <th scope="col">
                        Assigned Developers
                    </th>
                    <th scope="col"></th>
                  </tr>
                </thead>

                <!-- Table Body -->
                <tbody class="list">
                  <!-- Table Item -->

                  {% if request.user|has_group:"admin" %}

                    {% for project in projects %}
                    <tr>
                      <!-- Project Name & Image -->
                      <th scope="row" class="name">
                        <a href="{% url 'project-detail' project.id %}" class="mb-0 text-sm text-white">{{ project.name }}</a>
                      </th>
                      <!-- Open Tickets -->
                      <td class="open-tickets">
                        {{ project.num_open_tickets }}
                      </td>
                      <!-- Project Managers -->
                      <td>
                        <div class="avatar-group">
                          {% for manager in project.get_assigned_managers %}
                          <a class="avatar avatar-sm" data-toggle="tooltip" data-original-title="{{manager.first_name}} {{manager.last_name}}">
                            <img alt="Image placeholder" 
                            src="{{ manager.profile.image.url }}" class="rounded-circle" style="width: 32px; height: 32px; object-fit: cover;">
                          </a>
                          {% endfor %}
                        </div>
                      </td>
                      <!-- Assigned Developers -->
                      <td>
                        <div class="avatar-group">
                          {% for dev in project.get_assigned_devs %}
                          <a class="avatar avatar-sm" data-toggle="tooltip" data-original-title="{{dev.first_name}} {{dev.last_name}}">
                            <img alt="Image placeholder" 
                            src="{{ dev.profile.image.url }}" class="rounded-circle" style="width: 32px; height: 32px; object-fit: cover;">
                          </a>
                          {% endfor %}
                        </div>
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="{% url 'project-detail' project.id %}">More Details</a>
                            </div>
                        </div>
                    </td>
                    </tr>
                    {% endfor %}

                  {% else %}

                    {% for project in user.assigned_projects.all %}
                    <tr>
                      <!-- Project Name & Image -->
                      <th scope="row" class="name">
                        <a href="{% url 'project-detail' project.id %}" class="mb-0 text-sm text-white">{{ project.name }}</a>
                      </th>
                      <!-- Open Tickets -->
                      <td class="open-tickets">
                        {{ project.num_open_tickets }}
                      </td>
                      <!-- Project Managers -->
                      <td>
                        <div class="avatar-group">
                          {% for manager in project.get_assigned_managers %}
                          <a class="avatar avatar-sm" data-toggle="tooltip" data-original-title="{{manager.first_name}} {{manager.last_name}}">
                            <img alt="Image placeholder" 
                            src="{{ manager.profile.image.url }}" class="rounded-circle" style="width: 32px; height: 32px; object-fit: cover;">
                          </a>
                          {% endfor %}
                        </div>
                      </td>
                      <!-- Assigned Developers -->
                      <td>
                        <div class="avatar-group">
                          {% for dev in project.get_assigned_devs %}
                          <a class="avatar avatar-sm" data-toggle="tooltip" data-original-title="{{dev.first_name}} {{dev.last_name}}">
                            <img alt="Image placeholder" 
                            src="{{ dev.profile.image.url }}" class="rounded-circle" style="width: 32px; height: 32px; object-fit: cover;">
                          </a>
                          {% endfor %}
                        </div>
                      </td>
                      <td class="text-right">
                        <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="{% url 'project-detail' project.id %}">More Details</a>
                            </div>
                        </div>
                    </td>
                    </tr>
                    {% endfor %}

                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
